
/node_modules
/backend/mensajes_recibidos
/backend/uploads
/backend/diplomas
/backend/json_data
/backend/configuracion
/backend/diplomas_generados
/backend/plantillas_guardadas
/backend/diplomas_qr
/backend/routes/__pycache__
/backend/services/__pycache__
/backend/__pycache__