<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <!-- CDN Tailwind -->
    <title>Inicio</title>
    <link rel="stylesheet" href="../../../styles.css" />
  </head>
  <body>
    <div class="inicio-container">
      <header class="text-gray-600 body-font">
        <div
          class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
        >
          <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          >
            <img src="../../../src/images/2.png" alt="" class="w-12" />
            <span class="ml-3 text-xl">Aún no sé cómo se llama esta fok</span>
          </a>
          <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
          >
            <a
              href="../../../inicio.html"
              class="mr-5 hover:text-gray-900"
              >Inicio</a
            >
            <a class="mr-5 hover:text-gray-900">Documentos</a>
            <a class="mr-5 hover:text-gray-900">Firmas</a>
            <a class="mr-5 hover:text-gray-900">Sellos</a>
          </nav>
        </div>
      </header>

      <!-- Botones para cambiar entre predeterminadas y mis plantillas -->
      <section
        class="text-gray-600 body-font border-2 border-gray-200 py-5 mx-4"
      >
        <div class="container px-5 mx-auto">
          <div class="flex flex-col text-center w-full">
            <div
              class="flex mx-auto border-2 border-bg-secondary rounded overflow-hidden mt-6 mb-5"
            >
              <button
                id="btnPredeterminadas"
                class="py-1 px-4 bg-primary text-white focus:outline-none hover:bg-secondary hover:text-yellow-600"
              >
                Predeterminadas
              </button>
              <button
                id="btnMisPlantillas"
                class="py-1 px-4 focus:outline-none hover:bg-secondary hover:text-yellow-600"
              >
                Mis plantillas
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- Contenedor de las plantillas -->
      <section class="text-gray-600 body-font">
        <div class="container px-5 py-5 mx-auto">
          <div
            id="contenedor-plantillas"
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
          >
            <!-- Plantillas Predeterminadas (se muestran por defecto) -->
            <div class="plantillas predeterminadas">
              <div
                class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-lg hover:scale-105 transition transform duration-300"
              >
                <img
                  class="w-full object-cover object-center"
                  src="https://dummyimage.com/720x400"
                  alt="blog"
                />
                <div class="p-6 text-center">
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Plantilla 1
                  </h1>
                </div>
              </div>
            </div>

            <div class="plantillas predeterminadas">
              <div
                class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-lg hover:scale-105 transition transform duration-300"
              >
                <img
                  class="w-full object-cover object-center"
                  src="https://dummyimage.com/720x400"
                  alt="blog"
                />
                <div class="p-6 text-center">
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Plantilla 2
                  </h1>
                </div>
              </div>
            </div>

            <div class="plantillas predeterminadas">
              <div
                class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-lg hover:scale-105 transition transform duration-300"
              >
                <img
                  class="w-full object-cover object-center"
                  src="https://dummyimage.com/720x400"
                  alt="blog"
                />
                <div class="p-6 text-center">
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Plantilla 3
                  </h1>
                </div>
              </div>
            </div>

            <!-- Plantillas Personalizadas (ocultas por defecto) -->
            <div class="plantillas mis-plantillas hidden">
              <div
                class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden bg-gray-100 flex items-center justify-center hover:shadow-lg hover:scale-105 transition transform duration-300"
              >
                <h1 class="title-font text-lg font-medium text-gray-900">
                  + Nueva Plantilla
                </h1>
              </div>
            </div>

            <div class="plantillas mis-plantillas hidden">
              <div
                class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden hover:shadow-lg hover:scale-105 transition transform duration-300"
              >
                <img
                  class="w-full object-cover object-center"
                  src="https://dummyimage.com/720x400"
                  alt="blog"
                />
                <div class="p-6 text-center">
                  <h1 class="title-font text-lg font-medium text-gray-900 mb-3">
                    Mi Plantilla 1
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal (oculto por defecto) -->
      <div
        id="modal"
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-10 hidden"
      >
        <div
          class="bg-white p-6 rounded-lg shadow-lg w-120 text-center relative"
        >
          <!-- Botón para cerrar -->
          <button
            id="closeModal"
            class="absolute top-2 right-2 text-gray-500 hover:text-gray-800 text-2xl"
          >
            &times;
          </button>

          <!-- Título -->
          <h2 class="text-md font-bold mb-4">
            La plantilla que seleccionó necesita estos campos:
          </h2>

          <!-- Tabla con los campos -->
          <table
            id="modal-table"
            class="text-gray-600 mx-auto border border-gray-300"
          >
            <tr class="bg-gray-200">
              <th class="border border-gray-300 px-4 py-2">Campo 1</th>
              <th class="border border-gray-300 px-4 py-2">Campo 2</th>
            </tr>
            <tr>
              <td class="border border-gray-300 px-4 py-2">
                Nombre estudiante
              </td>
              <td class="border border-gray-300 px-4 py-2">Curso</td>
            </tr>
          </table>

          <!-- Mensaje -->
          <p id="modal-text" class="text-gray-600 mt-4 text-sm">
            Tenga en cuenta que solo se utilizarán esos campos, los demás campos del documento ingresado serán omitidos.
          </p>

          <!-- Botones -->
          <div class="flex justify-around mt-4">
            <button
              id="cancelar"
              class="bg-secondary text-white px-4 py-2 rounded-lg hover:bg-gray-500"
            >
              Cancelar
            </button>
            <a href="../diplomas/ver-plantilla-diploma.html"><button
              id="continuar"
              class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-blue-600"
              
            >
              Continuar
            </button>
          </a>
          </div>
        </div>
      </div>
    </div>

    <script src="../../js/diplomas/diplomas.js"></script>
  </body>
</html>
